.directory
_minted-main
_minted
*.zip
*.log
*.toc
*.acn
*.lol
*.ist
*.txt
*.acr
*.alg
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.lof
*.lot
*.out
*.synctex.gz
*.run.xml
*.pyg
*.pygtex
*.pygstyle
*(busy)
*.kate-swp
*SAVE-ERROR
*.fls
*.fdb_latexmk
cite.txt
